body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pr-modal-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
    z-index: -5;
}