.prod-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0.4rem;
  border-radius: 0.2rem;
  position: relative;
  width: 17rem;
}

.prod-image {
  width: 17rem;
  height: 17rem;
  background-color: green;
}

.prod-image img {
  width: 100%;
  height: auto;
}
.prod-title {
  font-size: larger;
  font-weight: 600;
  padding: 0.4rem;
}

.prod-price {
  font-weight: 500;
  padding: 0.4rem;
}
.prod-btn {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: rgb(238, 206, 64);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
  justify-content: center;
  align-items: center;
}

.quick-view-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.653);
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 3px;
}
